.container {
  flex-direction: column;
  align-items: flex-start;

  width: 100%;
  padding-bottom: 2rem;
}

.explanation-text {
  color: var(--heather);
  margin-bottom: .4rem;
  font-size: var(--font-size-sm);
}

.input-container {
  justify-content: space-between;
  background-color: var(--cloud-burst);
  border-radius: 8px;
  padding: .65rem;
  border: 1px solid var(--cloud-burst);

  width: 100%;

  box-shadow: rgb(9 22 46) 0px 6px 12px 0px;
}

.input {
  width: 100%;

  background: none;
  border: none;
  color: inherit;

  padding: 5px;
  height: 40px;

  font-family: inherit;
  font-size: var(--font-size-sm-plus);
}

.input:focus {
  outline: none;
}

.create-link-button {
  border: none;
  border-radius: 8px;

  cursor: pointer;
  height: 40px;
  margin: 0px 8px 0px 12px;
  padding: 0px 12px;

  background-color: var(--dodger-blue);
  color: var(--white);

  font-size: var(--font-size-sm-plus);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.create-link-button:hover {
  background-color: var(--denim);
}

.create-link-button:disabled {
  background-color: var(--fiord);
  box-shadow: none;
  cursor: default;
  color: var(--waterloo);
}

.copy-link-button {
  border: none;
  border-radius: 8px;

  cursor: pointer;
  height: 40px;
  margin: 0px 8px 0px 12px;
  padding: 0px 12px;

  background-color: var(--blue-zodiac);
  color: var(--heather);

  font-size: var(--font-size-sm-plus);
}

.copy-link-button:hover {
  color: var(--white);
}

.known-address-text {
  color: var(--cornflower-blue);
  cursor: pointer;
  margin-top: .75rem;
  align-self: flex-end;
  font-size: var(--font-size-sm-plus);
}
