:root {
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
  'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
  'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

  --white: #ffffff;
  --black: #000000;
  --black-pearl: #09162E;
  --blue-zodiac: #0E1C37;
  --cloud-burst: #202E49;
  --fiord: #3A4861;
  --heather: #B7BECB;
  --dodger-blue: #2669F5;
  --denim: #0f4ED6;

  --font-size-xxs: 0.585rem;
  --font-size-xs: 0.685rem;
  --font-size-sm: 0.785rem;
  --font-size-md: 1rem;
  --font-size-lg: 1.15rem;
  --font-size-xl: 1.35rem;
  --font-size-xxl: 1.75rem;
}
