.flexbox {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.semi-bold-text {
  font-weight: 600;
}

.bold-text {
  font-weight: 700;
}

.extra-bold-text {
  font-weight: 800;
}
