.container {
  width: 100%;
  flex-direction: column;

  padding-top: 2rem;
  padding-bottom: .75rem;
}

.row-container {
  width: 100%;
  justify-content: flex-start;
  background-color: var(--cloud-burst);

  height: 58px;
  border-radius: 8px;
  padding-left: 5px;
  box-shadow: rgb(9 22 46) 0px 6px 12px 0px;

  position: relative;
}

.symbol-container {
  flex-direction: column;

  padding: 8px 14px 8px 12px;
}

.logo-container {
  flex-direction: column;

  position: relative;
  width: 25px;
  height: 25px;
  border-radius: 50%;
}

.input-container {
  justify-content: space-between;
  border-radius: 8px;
  padding: 0 0 0 .65rem;

  width: 100%;
}

.sol-input {
  height: 50px;

  border-radius: 8px;

  width: 100%;

  background: none;
  border: none;
  color: inherit;

  color: var(--white);

  font-family: inherit;
  font-size: var(--font-size-lg);

  padding: 5px 10px;
}

.tags-container {
  width: 100%;

  margin-top: 20px;
  margin-bottom: 30px;
}

.tag {
  width: 81px;
  height: 52px;
  box-shadow: rgb(9 22 46) 0px 6px 12px 0px;

  flex-direction: column;

  border: none;

  color: var(--white);

  background-color: var(--cloud-burst);

  margin: 7px;
  border-radius: 5px;
  cursor: pointer;
}

.tag:hover {
  border: 1px solid var(--white);
}

.topup-button {
  border: none;
  border-radius: 8px;

  cursor: pointer;
  padding: 12.5px 40px;

  background-color: var(--dodger-blue);
  color: var(--white);

  font-size: var(--font-size-sm-plus);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.topup-button:hover {
  background-color: var(--denim);
}
