.container {
  padding: .5rem 1rem;
  border-radius: 24px;

  cursor: pointer;

  margin-right: .75rem;
  margin-bottom: .75rem;

  background-color: var(--cloud-burst);
  border: 1px solid var(--cloud-burst);
}

.container:hover {
  border: 1px solid var(--fiord);
}

.symbol-text {
  color: var(--white);
  font-size: var(--font-size-sm);

  margin-left: 10px;
}
