.container {
  width: 100%;
  position: fixed;

  justify-content: flex-end;

  padding: 1rem;

  top: 0;
  z-index: 10;
}

.connect-button {
  box-shadow: rgb(38 105 245 / 25%) 0px 0px 16px;
  border: none;
  background-color: var(--dodger-blue);
  color: var(--white);

  padding: 0 1.8rem;

  height: 46px;
  border-radius: 8px;
  cursor: pointer;
  font-size: var(--font-size-md);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}
  
.connect-button:hover {
  background-color: var(--denim);
}

.help-text {
  color: var(--heather);
  font-size: var(--font-size-sm-plus);
  margin-right: 1rem;

  text-decoration: none;
}
