.container {
  flex-direction: column;
  align-items: flex-start;
}

.input {
  width: 100%;

  background: none;
  border: none;
  color: inherit;

  padding: 5px;

  font-family: inherit;
  font-size: var(--font-size-lg);
}

.input:focus {
  outline: none;
}

.human-readable-number {
  color: var(--heather);
  font-size: var(--font-size-xs);
  margin-top: 5px;
  margin-left: 5px;
}
