.container {
  color: var(--white);

  flex-direction: column;

  width: 100%;
}

.title-container {
  width: 100%;

  margin-top: .5rem;
  margin-bottom: 1.5rem;

  justify-content: space-between;
}

.title-text {
  font-size: var(--font-size-lg);
}
